<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="refresh" content="30;url='/'"> 
</head>
<body>
	<h1>Welcome To The Smart Alarm Clock</h1>
</body>
<form action = "/create_alarm" method = "POST">
	<input type = "submit" class = "button" value = "Create Alarm" name = Create Alarm>
</form>
<form action = "/cancel_alarm" method = "POST">
	<input type = "submit" class = "button" value = "Cancel Alarm" name = Cancel Alarm>
</form>
<form action = "/view_alarm" method = "POST">
	<input type = "submit" class = "button" value = "View Upcoming Alarms" name = View Upcoming Alarms>	
</form>
<form action = "/view_notifications" method = "POST">
	<input type = "submit" class = "button"	value = "View Passed Alarms" name = View Passed Alarms>
</form>
<form action = "/weather_input" method = "POST">
	<input type = "submit" class = "button" value = "Weather Information" name = Weather Information">
</form>
<form action = "/display_news" method = "POST">
	<input type = "submit" class = "button" value = "Latest News" name = "Latest News">
</form>


</html>

